<nav class="navBar">
  <a style="font-size: 20px;" class="brand" routerLink="">Naukari</a>
  <div class="navbar_div">
    <ul class="navbar_list">
      <li>
        <a routerLink="/jobdetail">Jobs</a>
      </li>
      <li>
        <a routerLink="">Add Jobs</a>
      </li>
      <li>
        <a routerLink="">Candidates</a>
      </li>
      <li>
        <a routerLink="">Search</a>
      </li>
    </ul>
    <ul class="navbar_list">
      <li>
        <a routerLink="">Login as Recruiter</a>
      </li>
      <li>
        <a routerLink="">Login as Applicant</a>
      </li>
      <li>
        <a routerLink="">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>